<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 px-4">
            <h2>About</h2>
            <p class="fs-5">We tied the knot privately in February 2025, and now it’s time to celebrate. We are gathering our favorite foods, memories, and people all in one room. Join us for an evening of great company and the flavors we love most. No vows, no speeches—just the good stuff!</p>
            <h4 class="pt-5">Details</h4>
            <p><strong>When:</strong> Friday, June 26th, 2026<br>
                <strong>Time:</strong> 6:00 PM – 9:00 PM<br>
                <strong>Where:</strong> <a href="https://maps.app.goo.gl/vPp7FpXsUnSU4geg7" target="_blank">Carroll Hall at 2 Vandervoort Pl, Brooklyn, NY 11237</a><br>
                <strong>Vibe:</strong> Garden party meets warehouse loft.<br>
                <strong>Attire:</strong> Summer cocktail attire; please skip the suit jacket and tie so you can stay cool and comfortable during our warm Brooklyn evening.
        </p>
        </div>
    </div>
</section>