<!-- FAQs Section -->
<section id="faq" class="content-section">
    <div class="container">
        <div class="col-lg-8 offset-lg-2">
          <h2 class="text-center">FAQ</h2>
          <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Is this a wedding?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">No. This night is dedicated to bringing our friends and family together to share our favorite things with our favorite people — no ceremony, just the food, music, and company we cherish most.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Is there a registry?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Your presence at our celebration is truly the greatest gift, and we do not expect anything else! However, if you feel inclined to give a gift, we would be grateful for a small contribution towards our future home funds via Venmo: <a href="https://venmo.com/code?user_id=1214567359184896072&created=1764902389">@keivanz</a></div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Will there be food?
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Yes! We’ll have buffet stations, a dessert spread, and an open bar. There will be no formal seated dinner. Instead, we’ll have lounge areas and cocktail tables throughout the space to keep the vibe social and flowing.<br><br>If you have any allergies or dietary needs, please let us know when you RSVP in March.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    How do I get to Carroll Hall?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">The venue is located in Brooklyn (Bushwick/East Williamsburg area) at <a href="https://maps.app.goo.gl/vPp7FpXsUnSU4geg7" target="_blank">2 Vandervoort Pl, Brooklyn, NY 11237</a>.<br>
                    <ul>
                      <li>Subway: Take the L train to the Morgan Avenue stop. It’s an 8-min walk from there.</li>
                      <li>Rideshare: Uber and Lyft can drop you right at the door.</li>
                      <li>Driving: Street parking is very limited in this neighborhood. We highly recommend using rideshare or public transit.</div></li>
                    </ul>
                  </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    I’m flying in! Where should I stay?
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">We are hoping to secure a group rate to keep everyone together! Please head over to the <a href="#rsvp">Travel section</a> and fill out the quick interest form. Your responses will help us decide if we can lock in a hotel block for the group.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    Are kids invited?
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">We love your little ones, but this will be an adults-only evening. Thank you for understanding!</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    Can I bring a plus one?
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">We’ve curated this evening to share it with our closest community. We kindly ask that only the guests listed on your invitation attend. We can't wait to see you!</div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    When should I RSVP by?
                  </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Please let us know if you can make it by April 26th, 2026. The <a href="#rsvp">RSVP form</a> will open in March.</div>
                </div>
              </div>
          </div>
        </div>
    </div>
</section>