<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ site.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{page.description}}">
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/png" href="{{site.logo}}" hreflang="en-us">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:title" content="{% if page.title %}{{ site.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{{page.description}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="og:image" content="{{site.cover}}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:locale" content="en_US">
    <meta itemprop="name" content="{% if page.title %}{{ site.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta itemprop="description" content="{{page.description}}">
    <meta itemprop="image" content="{{site.cover}}">

    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
    <meta name="theme-color" content="{{ site.color.primary-accent }}">

    <!-- Custom Fonts -->
    <script src="https://kit.fontawesome.com/45134d6be5.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1X3KPT2R01"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-1X3KPT2R01');
    </script>

</head>