<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="intro-text">A gathering of</p>
                    <h1 class="brand-heading">Keivan and Shannon's</h1>
                    <p class="intro-text">favorite things</p>
                    <p class="intro-text">Friday, June 26, 2026 | Brooklyn, NYC</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>