<!-- Intro Header -->
<header class="intro">
    <div class="container pt-5">
        <div class="row mt-5">
            <div class="col-md-6 order-2">
                <img src="/img/photo.jpg" class="img-fluid" alt="Keivan and Shannon" draggable="false">
            </div>
            <div class="col-md-6 d-flex align-items-center order-1 order-md-2">
                <div class="intro-body my-5">
                    <p class="intro-text corinthia-regular lh-1">a celebration of</p>
                    <h1 class="brand-heading pb-4">Keivan and Shannon</h1>
                    <p class="intro-text corinthia-regular pt-4">a gathering of our favorite things</p>
                    <p class="pt-3">on Friday, June 26, 2026 in Brooklyn, NYC</p>
                </div>
            </div>
        </div>
    </div>
</header>
