<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="intro-text corinthia-regular">a gathering of</p>
                    <h1 class="brand-heading">Keivan and Shannon's</h1>
                    <p class="intro-text corinthia-regular">favorite things</p>
                    <p class="py-5">Friday, June 26, 2026   |   Brooklyn, NYC</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>




<!-- Single RSVP Section -->
<section id="rsvp" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2>RSVP</h2>
            <p>We are so excited to celebrate with you. We've created this website to share all the important details with you in the lead up.</p>
            <p>Have a look around and don’t forget to RSVP!</p>
            <p><a href="http://form.com" class="btn btn-primary btn-lg">RSVP</a></p>
        </div>
    </div>
</section>


<!-- Scroll down orb -->
<div class="col-md-12 text-center order-3">
    <a href="#about" class="btn btn-circle page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>
</div>