<!-- RSVP Section -->
<section id="rsvp" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-5 offset-lg-1 p-3">
            <h3>RSVP</h3>
            <p>Please come back in March to complete the response form!</p>
        </div>
        <div class="col-lg-5 p-3 pt-5 mt-5 mt-md-0 pt-md-3">
            <h3>Travel</h3>
            <p>For our friends flying in, we are looking into securing a hotel room block in [Insert Neighborhood]. Rates would be approximately $[Price] per night plus $[Price] tax/fees per night.</p>
            <p>Because hotels require a minimum number of rooms to lock in these rates, we need to gauge interest before we sign a contract. Please fill out the form below by <strong>December 31st, 2025</strong> to let us know if you’d want a room!</p>
            <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSd2xbLYL00GZhsZBB8twdHC1CMlT4FFWnUFYBg4WHFHNOYvxA/viewform?usp=dialog" target="_blank" class="btn btn-primary btn-lg">Room block form</a></p>
        </div>
    </div>
</section>