<!-- RSVP Section -->
<section id="rsvp" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-5 offset-lg-1 p-3">
            <h3>RSVP</h3>
            <p>A link has been sent to your email. Please RSVP by April 26th.</p>
        </div>
        <div class="col-lg-5 p-3 pt-5 mt-5 mt-md-0 pt-md-3">
            <h3>Travel</h3>
            <p>We are excited to share the Moxy Brooklyn Williamsburg has granted us a courtesy block with the following details:</p>
                <p><a href="https://maps.app.goo.gl/NtbCEgT2iujGA2yw8" target="_blank">Moxy Brooklyn Williamsburg</a><br>
                Group Rate: $429.00 USD per night<br>
                Friday, June 26, 2026 – Saturday, June 27, 2026<br>
                Last Day to Book: Tuesday, May 12, 2026</p>
            <p><a href="https://app.marriott.com/reslink?id=1768501106464&key=GRP&app=resvlink" target="_blank" class="btn btn-primary btn-lg">Online reservation portal</a></p>
        </div>
    </div>
</section>