@view-transition {
	navigation: auto;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
  }

.accordion-button:not(.collapsed) {
    background-color: #f0f8ff; 
}

.navbar-toggler {
    color:#ffffff;
    border:none;
}

.btn-primary {
    background-color:black;
    border-radius:0;
    border:none;
}
.btn-primary:hover {
    background-color:black;
}

.corinthia-regular {
    font-family: "Corinthia", cursive;
    font-weight: 400;
    font-style: normal;
}  
.corinthia-bold {
    font-family: "Corinthia", cursive;
    font-weight: 700;
    font-style: normal;
}
.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  