body {
    font-family: "Urbanist",Helvetica,Arial,sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1 {
    font-weight: 200;
}
#name {
    height: 100%; 
    align-items: center;
    justify-content: center;
    width:100%;
}